.logo{
	width: 150px;
}

.img-team{
	border-radius: 50%;
	margin-left:auto;
	margin-right:auto;
	object-fit: cover;
	width: 100%;
	filter: grayscale(100%);
	max-width: 185px;
}

.img-team:hover{
	filter: grayscale(0%);
}
